<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.callor.todo.persistance.TodoDao">

	<select id="selectAll" resultType="TodoVO">
		SELECT * FROM tbl_todos
		ORDER BY insert_date ASC, insert_time ASC
	</select>
	<select id="findByUsername">
		SELECT * FROM tbl_todoList
		WHERE username=#{username}
	</select>
	<select id="findById" resultType="TodoVO">
		SELECT * FROM tbl_todos
		WHERE t_seq=#{t_seq}
	</select>
	<select id="selectTodoAll" resultType="TodoVO">
		SELECT * FROM tbl_todos
		WHERE id=#{id}
		ORDER BY insert_date ASC, insert_time ASC
	</select>
	<insert id="insert" parameterType="TodoVO">
		INSERT INTO tbl_todos(
		t_username,
		t_sdate,
		t_stime,
		t_context
		) VALUES (
		#{t_username},
		#{t_sdate},
		#{t_stime},
		#{t_context},
		)
	</insert>
	<update id="update">
		UPDATE tbl_todos SET
			t_context = #{t_context},
			t_edate = #{t_edate},
			t_etime = #{t_etime},
		WHERE t_seq = #{t_seq}
	</update>
	<delete id="delete"></delete>

	<select id="create_todo_table">
		CREATE TABLE IF NOT EXISTS tbl_todos (
		t_seq BIGINT AUTO_INCREMENT PRIMARY KEY,
		t_username VARCHAR(20) NOT NULL,
		t_sdate VARCHAR(10) NOT NULL,
		t_stime VARCHAR(10) NOT NULL,
		t_context VARCHAR(10) NOT NULL,
		t_edate VARCHAR(10),
		t_etime VARCHAR(10),
		complete tinyint(1)

		)
	</select>

</mapper> 